
body {
  background-color: #000000;
  color: #fff;
  font-family: "Arial", sans-serif;
}

.container {
  background-color: #131a31;
}

/* .navbar-brand {
  background-color: #131a31;
  color: #fff !important;
} */

.navbar {
  background-color: #131a31;
  color: #fff !important;
}

.centered-content {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.jumbotron {
  background-size: cover;
  text-align: center;
  padding: 100px 0;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.lead-small {
  color: #B3FC53;
  font-size: 1.0rem;
  font-weight: lighter;
  margin-bottom: 2rem;
}


.lead {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.btn {
  font-size: 1.2rem;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 2rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

