<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}

    <h2>
        {{ post.post_title }}
    <br>
    </h2>
    <h5>
        {{ post.post_author }}
    </h5>
    <h5>
        {{ post.created_on }}
    <br>
    <br>
    </h5>
    <div>
        {{ post.content | safe }}
    </div>
    {% endblock %}

    <a href="{% url 'index' %}">BACK</a>
</body>
</html>