{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}
<h3>Choose your favourite Album</h3>
<br>
<p><strong>Posting as: {{ user.username }}</strong></p>
<br>
<br>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <br>
    <input type="submit" class="btn" value="Submit"/>

</form>


{% else %}
<div>
    <h3>
        <br>
        <br>
        <br>
        This page is empty unless you 
        <a href="{% url 'account_signup' %}">SIGN UP</a> as a member or/and 
        <a href="{% url 'account_login' %}">LOG IN</a>
    </h3>
</div>
    {% endif %}
</form>

{% endblock %}