{% extends 'base.html' %}         

{% block content %}

<header>
    <div class="container position-center px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>WELCOME TO THE NIGHTWISH PLATFORM {{ user.username }}!</h1>
                        <p class="subheading">Here you can share your thoughts and feelings about the great Finnish symphonic metal band Nightwish</p>
                </div>
                
                <div class="site-heading">
                    {% if user.is_authenticated %}
                    <p class="subheading">Welcome inside</p>
                    {% else %}
                    <p class="subheading">Please sign up to become a member and tell us about your favourite <strong>NIGHTWISH</strong> album on the inside.</p>
                </div>
                <div class="site-heading">
                    <p class="subheading"><a href="{% url 'account_login' %}"><strong>Log in</strong></a> if you already are a member.</p>
                    <p><strong>OR</strong></p>
                    {% endif %}
                </div>
                <div class="block-content center">                
                        {% if user.is_authenticated %}
                        <br><br><br><br><br><br>
                        <a href="{% url 'favourite_album' %}"><button class="btn">Pick your favourite album</button></a>
                        {% else %}
                        <br><br><br>
                        <a href="{% url 'account_signup' %}"><button class="btn">Sign up to become a member</button></a>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">

                <a href="#"></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
