{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}


<!-- Post title goes in these h1 tags -->
<{{ post.title }}

<!-- Post author goes before the | the post's created date goes after -->
{{ post.author }} | {{ post.created_on }}

<!-- The featured image URL goes in the src attribute -->
{% if "placeholder" in post.featured_image.url %}
<img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
{% else %}
<img src=" {{ post.featured_image.url }}" width="100%">
{% endif %}

<!-- The post content goes inside the card-text. -->
<!-- Use the | safe filter inside the template tags -->
{{ post.content | safe }}

<strong>
{% if user.is_authenticated %}
<form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
{% csrf_token %}
{% if liked %}
<button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
{% else %}
<button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
{% endif %}
</form>
{% else %}
<span class="text-secondary"><i class="far fa-heart"></i></span>
{% endif %}

<!-- The number of likes goes before the closing strong tag -->
<span class="text-secondary">{{ post.number_of_likes }} </span>
</strong>

{% with comments.count as total_comments %}

<!-- Our total_comments variable goes before the closing strong tag -->
{{ total_comments }}
</strong>
{% endwith %}

<h3>Comments:</h3>

<!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
{% for comment in comments %}

<!-- The commenter's name goes here. Check the model if you're not sure what that is -->
{{ comment.name }}

<!-- The comment's created date goes here -->
{{ comment.created_on }}

<!-- The body of the comment goes before the | -->
{{ comment.body | linebreaks }}

<!-- Our for loop ends here -->
{% endfor %}


{% if commented %}
<div class="alert alert-success" role="alert">
Your comment is awaiting approval
</div>
{% else %}
{% if user.is_authenticated}
<h3>Leave a comment:</h3>
<p>Posting as: {{ user.username }}</p>
<form method="post" style="margin-top: 1.3em;">
{{ comment_form | crispy }}
{% csrf_token %}
<button type="submit" class="btn btn-signup btn-lg">Submit</button>
</form>
{% endif %}
{% endif %}


{% endblock content %}