{% extends "base.html" %}

{% block content %}

<!-- Blog Entries Column -->
{% for post in post_list %}

{% if "placeholder" in post.featured_image.url %}
                       
{% else %}
<img class="card-img-top" src=" {{ post.featured_image.url }}">
{% endif %}                                
{{ post.author }}
<a href="{% url 'post_detail' post.slug  %}" class="post-link">
<h2 class="card-title">{{ post.title }}</h2>
<p class="card-text">{{ post.excerpt }}</p>

{{ post.created_on}} <i class="far fa-heart"></i>
{{ post.number_of_likes }}</p>

{% if forloop.counter|divisibleby:3 %}

{% endif %}
{% endfor %}


{% if is_paginated %}

{% if page_obj.has_previous %}
<li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
{% endif %}
{% if page_obj.has_next %}
<li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

{% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}