{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
    <h2>
        {{ post.post_title }}
    <br>
    </h2>
    <h5>
        {{ post.post_author }}
    </h5>
    <h5>
        {{ post.created_on }}
    <br>
    <br>
    </h5>
    <div>
        {{ post.content | safe }}
        
        
    </div>
    <div>
        <a href="{% url 'index' %}">BACK</a>
    </div>
   
    {% if commented %}
    <div class="alert alert-success" role="alert">
        Your comment is awaiting verification
    </div>
    {% else %}
    {% if user.is_authenticated %}
    <h3>Leave a comment:</h3>
    <p>Posting as: {{ user.username }}</p>
    <form method="post" style="margin-top: 1.3em;">
        {{ comment_form | crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
    </form>
    {% endif %}
    {% endif %}

{% endblock %}

    
</body>
</html>