{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}
    <h2>
        {{ post.title }}
    <br>
    </h2>
    <h5>
        {{ post.author }}
    </h5>
    <h5>
        {{ post.created_on }}
    <br>
    <br>
    </h5>
    <h5>
        {% if "placeholder" in post.featured_image.url %}
        <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
        {% else %}
        <img src="{{ post.featured_image.url }}" class="scale" alt="{{ post.title }}">
        {% endif %}
    </h5>
    <div>
        {{ post.content | safe }}
    </div>
    <div class="col-1">
        <strong>
            {% if user.is_authenticated %}
            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                {% csrf_token %}
                {% if liked %}
                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"
                    aria-label="like"><i class="fas fa-heart"></i></button>
                {% else %}
                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"
                    aria-label="like"><i class="far fa-heart"></i></button>
                {% endif %}
            </form>
            {% else %}
            <span class="text-secondary"><i class="far fa-heart"></i></span>
            {% endif %}
            <!-- The number of likes goes before the closing strong tag -->
            <span class="text-secondary">{{ post.number_of_likes }} </span>
        </strong>
    </div>
    <div>
        <a href="{% url 'index' %}">BACK</a>
    </div>
   
    {% if commented %}
    <div class="alert alert-success" role="alert">
        Your comment is awaiting verification
    </div>
    {% else %}
    {% if user.is_authenticated %}
    <h3>Leave a comment:</h3>
    <p>Posting as: {{ user.username }}</p>
    <form method="post" style="margin-top: 1.3em;">
        {{ comment_form | crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
    </form>
    {% endif %}
    {% endif %}

{% endblock content %}

{% block extras %}
{% load static %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock extras %}