{% extends 'base.html' %}

{% block content %}

<h2>Users and Their Favourite Albums</h2>
<ul>
    {% for fav_album in favourite_albums %}
        <div>
            <br>
            <strong>User:</strong> {{ fav_album.author.username }}
            <br>
            <strong>Favourite Album:</strong> {{ fav_album.get_favourite_album_display }}
            <br>
            <strong>Feeling:</strong> {{ fav_album.body }}
            <br>
            {% if user.is_authenticated and fav_album.author == user %}
            <a href="{% url 'favouritealbum_edit' fav_album.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'favouritealbum_delete' fav_album.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this album?');">Delete</a>
            {% endif %}
        </div>
    {% empty %}
        <li>No users have selected a favourite album yet.</li>
    {% endfor %}
</ul>

{% endblock content %}


