{% extends 'base.html' %}

{% block content %}

<h2>Users and Their Favourite Albums</h2>
<ul>
    {% for fav_album in favourite_albums %}
        <div>
            <br>
            <strong>User:</strong> {{ fav_album.author.username }}
            <br>
            <strong>Favourite Album:</strong> {{ fav_album.get_favourite_album_display }}
            <br>
            <strong>Feeling:</strong> {{ fav_album.body }}
            <br>
        </div>
    {% empty %}
        <li>No users have selected a favourite album yet.</li>
    {% endfor %}
</ul>

{% endblock content %}